.run
.gradle
gradle.properties

\${env.CATALINA_HOME}

.backup
.classpath
.settings
!.settings/org.eclipse.core.resources.prefs
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.wst.common.component.template
!.settings/org.eclipse.wst.common.project.facet.core.xml
.idea
.smarttomcat
*.iml
attachments
bin
/build/
src-core/build/
src-db/build/
src-trl/build/
src-wad/build/
src-test/build/
!src-core/.classpath
!src-db/database/.ant-targets-build.xml
!src-gen/.keep
!src-trl/.classpath
!src-util/diagnostic/.classpath
!src-util/diagnostic/.settings/.jsdtscope
!src-util/diagnostic/.settings/org.eclipse.jdt.core.prefs
!src-util/diagnostic/.settings/org.eclipse.jst.common.project.facet.core.prefs
!src-util/diagnostic/.settings/org.eclipse.wst.common.component
!src-util/diagnostic/.settings/org.eclipse.wst.common.project.facet.core.xml
!src-util/diagnostic/.settings/org.eclipse.wst.jsdt.ui.superType.container
!src-util/diagnostic/.settings/org.eclipse.wst.jsdt.ui.superType.name
!src-util/diagnostic/WebContent/META-INF/MANIFEST.MF
!src-util/diagnostic/WebContent/WEB-INF/web.xml
!src-wad/.classpath
docs
log
src-gen
src-loc
srcAD
srcClient
temp
WebContent
!WebContent/META-INF/MANIFEST.MF
!WebContent/WEB-INF/.keep

config/*Openbravo.properties
config/quartz.properties
config/Format.xml
config/log4j.lcf
config/userconfig.xml
config/setup*
config/checksums
config/instance.revision
config/eclipse/hibernate.cfg.xml
src/result.xml
src/result-*.xml
config/log4j2.xml
config/log4j2-web.xml

src-test/src/log4j2-test.xml
src-db/database/formalChangesScript.xml
src-core/lib/openbravo-core.jar
src-wad/lib/openbravo-wad.jar
src-trl/lib/openbravo-trl.jar
lib/runtime/openbravo-core.jar
lib/runtime/openbravo-wad.jar
lib/runtime/openbravo-trl.jar
lib/*.war

*.bak
*.swp
*.css.map

Thumbs.db
.DS_Store

sources
scripts
node_modules
node_modules_global
test-reports

# ignore all modules
# except those ones included in OB3 distribution
/modules/*

#ignore maven builds
target
/utils/
/config/backup.properties
/config/redisson-config.yaml
/volumes
