
$skin: "Default";
$skinUrlPath: "../../web/org.openbravo.userinterface.smartclient/openbravo/skins/" + $skin;

$fontFamily: 'Poppins', 'lucida sans', sans-serif;
$color1: #202452; /* Blue */
$color6: #3d4383; /* Light Blue */
$color7: #131743; /* Darker Blue */
$color2: #e1e1e1; /* Gray */
$color5: #ababab; /* Darker Gray  */
$color3: #fad614; /* Yellow */
$color4: #ffffff; /* White */
$color8: #dde0f7; /* Light Blue (20%) */

$backgroundColor1: #ffffff;
$backgroundColor2: #fad614;
$backgroundColor3: #dddff6;
$backgroundColor4: #e8f6e8; /* Light Green */
$backgroundColor5: #DDE0F7; /* Light Blue (20%) */
$backgroundColor6: #eff1f7; /* light Blue (10%) */
$backgroundColor7: #f2f2f2; /* Gray 10 % */

$backgroundColorInputRequired: #faf3d0;
$menuShadow: 0px 0px 20px 0px #ededed;

